# Runtime dependencies
aiofiles==0.8.0
aiosqlite==0.17.0
click==8.0.3

# Tests, formatting, linting
black==21.12b0
flake8==4.0.1
isort==5.10.1
mypy==0.931
pytest==6.2.5
types-aiofiles==0.8.2
pytest-asyncio==0.16.0

# Indirect dependencies
attrs==21.4.0
iniconfig==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
toml==0.10.2
tomli==1.2.3
typing-extensions==4.0.1
