.app {
  padding: 8px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 8px;
}

.app > .add-note {
  grid-area: 1 / 1;
}

.app > .notes-list {
  grid-area: 2 / 1;
}

.app > .note-container {
  grid-area: 1 / 2 / span 2;
}
