.header {
    height: 100%;
    color: var(--mantine-color-text);
    background: var(--mantine-color-blue-light);
}

.logo {
    width: auto;
    height: 80%;
}

.name {
    width: auto;
    height: 100%;
}
