.noteView {
    box-sizing: border-box;
    height: calc(100vh - 6rem);
}

.noteTitle {
    flex-grow: 1;
}

.noteSpinner {
    transition: opacity 0.1s;
}
.noteSpinner.inactive {
    opacity: 0;
}

.noteText {
    flex-grow: 1;
}
.noteText * {
    box-sizing: border-box;
    height: 100%;
}

.noteActions {
    align-self: start;
}
