.note-view {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
}

.note-title {
    align-self: center;
}

.note-title > input {
    box-sizing: border-box;
    width: 100%;
}

.note-spinner {
    transition: opacity .1s;
}
.note-spinner.inactive {
    opacity: 0;
}

.note-view > button {
    grid-column: span 2;
    justify-self: start;
}

.note-text > textarea {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 50px);
}
